OPENAI_API_KEY=your_openai_api_key
GOOGLE_API_KEY=your_google_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
DEEPSEEK_API_KEY=your_deepseek_api_key
GROQ_API_KEY=your_groq_api_key
# GROK_API_KEY=your_grok_api_key
OPENROUTER_API_KEY=your_openrouter_api_key
SERP_API_KEY=your_serp_api_key
#serper.dev
SERPER_API_KEY=your_serper_api_key
HF_TOKEN=your_huggingface_token
PUSHOVER_USER=your_pushover_user_key
PUSHOVER_TOKEN=your_pushover_app_token
PUSHOVER_RECIEVE_EMAIL=your_pushover_email
RESEND_API_KEY=your_resend_api_key
MAIL_FROM=your_from_email
MAIL_TO=your_to_email
